/* --- Accomplish Software CCS codes --- */


#all
{
visibility: hidden;
}


@font-face
{
font-family: weblysleekuisl;
src: url('../Fonts/weblysleekuisl.ttf');
}


@font-face
{
font-family: weblysleekuil;
src: url('../Fonts/weblysleekuil.ttf');
}


html 
{
position: relative;
min-height: 100%;
}

body
{
font-family: weblysleekuisl ;
font-size: 20px;
margin: 0 0 125px;
padding: 25px;
}


#space
{
visibility: hidden;
}


#header
{
position:absolute;
top: 0px;
left:0px;
background-color: #F0F0F0;
width:100%;
height:55px;
}


#bar
{
position:relative;
top: -18px;
right: 20px;
background-color: none;
width:700px;
height:64px;
text-align:center;
border-radius:5px;
}


.UnderLine a
{
font-size:20px;
text-decoration: none;
color: #7F7F7F;
}

#header
{
opacity: 0.9;
position:fixed;
top:0;
left:0;
z-index:100;
}

#blueLogo
{
position:relative;
top: 26px;
}


#headerLump
{
z-index:-5;
position:relative;
top: 10px;
}


#Page-Mark 
{
text-shadow: 1px 1px 50px white;
}


.titles
{
height: 55px;
font-family: weblysleekuil;
font-size:35px;
}


#contact :hover
{
color: #f76c41;
}


#aboutUs :hover
{
color: #f76c41;
}




#takePart :hover
{
color: #f76c41;
}


#pressKit :hover
{
color: #f76c41;
}


footer
{
background:#262626;
position: absolute;
left: 0;
bottom: 0;
height: 85px;
width: 100%;
}


#faceTwitt
{
display:inline;
margin-top:13px;
padding-left:16px;
margin-bottom:5px;
float:left;
}

#facebook
{
border: solid 0px none;
position: relative;
bottom:4px;
left:2px;
}


#icUp
{
margin-top:30px;
padding-right:20px;
margin-bottom:5px;
float:right;
}



/*  © 2014 Copyright by Accomplish Software. All Rights Reserved.  */